.main {
    overflow: hidden;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#189eff,#1d71ab);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar--list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0 0;
    display: flex;
}
.header__navbar--item {
    margin: 0 10px;
    min-height: 26px;
    position: relative;
}
.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--White-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;/*bóng nổi*/
    display: none;
}
.header__navbar-user-menu::before {
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--White-color) transparent;
    position: absolute;
    right: 0px;
    top: -28px;
}
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
}
.header__navbar-user-item {
    
}
.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
    
}
.header__navbar-user-item a:hover {
    background-color: #fafafa;
}
.header__navbar--item--has-notify:hover .header__notify {
    display: block;

}
/* khi rê chuột vào hiện mã qr*/
.header__navbar--item--has-qr:hover .header__qr{
    display: block;
}
.header__navbar--item,
.header__navbar--item--link {
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;/*bỏ gạch chân*/
    color: var(--White-color);
    font-weight: 300;
}
.header__navbar--item,
.header__navbar--item--link,
.header__navbar--icon--link {
    display: flex;
    align-items: center;/*canh giua 2 icon*/
}

.header__navbar--item:hover,
.header__navbar--icon--link:hover,
.header__navbar--item--link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;/*thuoc tinh dung de tro? chuot. vao' hien ban' tay*/
}

.header__navbar--item--strong {
    font-weight: 450;
}
.header__navbar--item--separate {
    
    /*border-color: blue;*/
    border-right: 2px solid #8ec6ec; /* viet gon */
    /*border-top-width: 0px;
    border-right-width: 2px;
    border-left-width: 0px;
    border-bottom-width: 0px; */
    /*border-style: solid;*/
    padding-right: 17px;
    padding-bottom: 2px;
    height: 1.5rem;
}
.header__navbar--icon--link {
    color: var(--White-color);
    text-decoration: none;

}
.header__navbar--icon--link:nth-child(2) {
    margin-left: 3px;
}
.header__navbar--icon {
    font-size: 1.8rem;
    margin: 0 4px;

}
.header__navbar--item--title--no--pointer {
    cursor: text;
    color: var(--White-color);
}
/* Header QR code*/

.header__qr {
    width: 186px;
    background-color: var(--White-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.4s;/* thời gian hiện qr code */
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    top: -16px;
    left: 0;
    display: block;/*Hiện*/ 
}
.header__qr-img {
    width: 100%;
}
.header__qr-apps {
    display: flex;
    justify-content: space-between;

}
.header__qr-link:nth-child(1) {
     margin-left: 11px; 
}
.header__qr-link:nth-child(2) {
     margin-right: 11px; 
}
.header__qr-download-img {
    height: 16px;
}
/* header notify*/
.header__notify {
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    background-color: var(--White-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation:headeNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;/*ẩn */
}
.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--White-color) transparent;
    position: absolute;
    right: 0px;
    top: -28px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
   
}
@keyframes headeNotifyGrowth {
    from {
        opacity: 0;/*Hiện mờ dần lên*/
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header {
    height: 40px;
    background-color: var(--White-color);

}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;/*Không cho copy dòng chữ*/
}
.header__notify-list {
    padding-left: 0;
}
.header__notify-item {
    display: flex;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--viewed {
    background-color: rgba(238,75,43,0.08);
}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
   
}
.header__notify-img {
    width: 48px;
    object-fit: contain;/* cú pháp làm cho ảnh hết méo khi chịu display flex*/

}
.header__notify-info {
    margin-left: 12px;

}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.4rem;/*chiều cao của hàng*/
    margin-top: 4px;
}
.header__notify-footer {
    display: flex;
}
.header__notify-footer--btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;/*Canh giữa*/
}
/* Authen modal */
.auth-form{
    width: 500px;
    background-color: var(--White-color);
    border-radius: 4px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
} 
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__form {
    
}
.auth_form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 2px solid var(--border-color);
    border-radius: 2px;
    outline: none;/*bỏ outline hiện màu của input*/
    

}
.auth_form__input:focus {
    border-color: #888;
}
.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls {
    margin-top: 76px;
    display: flex;
    justify-content: flex-end;/*lùi ra vị trí cuối*/
}
.auth-form__controls-back {
    margin-right: 8px;
}
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon {
    font-size: 1.8rem;
}
.auth-form__socials--facebook {
    color: var(--White-color);
    background-color: #1877f2;
    
}

.auth-form__socials--facebook
.auth-form__socials--google {
    color: var(--White-color);
}
.auth-form__socials-label {
    margin: 0 36px;
}
.auth-form__socials--google {
    color: #666;
    background-color: var(--White-color);
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    height: 24px;
    margin: 2px 16px 0;
    border-left: 1px solid var(--border-color);
}
.auth-form__help-forgot {
    color: var(--primary-color);
}
/* header-with-search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__mobile-search {
    padding: 0 12px;
    display: none;
    font-size: 2rem;
    margin-left: -47px;
}
.header__mobile-search-icon {   
    font-size: 2.6rem;
    color: var(--White-color);
}
.header__logo {
    width: 180px;
}
.header__logo-link {
    text-decoration: none;
    color: transparent;
    
    
}
.header__logo-img {
    width: 150px;
}
.header__search-checkbox:checked ~ .header__search {
    display: flex;

}
.header__search {
    background-color: var(--White-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.header__cart {
    width: 190px;
    text-align: center;/*cho vao' the cha thi canh giua the con*/
   

}
.header__cart-wrap {
    position: relative;
    padding: 0 8px;
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: -3px;
    background-color: var(--White-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}
.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left; 
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #b1b1b1;
}

.header__cart-item-qnt {
    color: #b1b1b1;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #b1b1b1;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
}
.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
    background-color: #1877f2;
}
.header__cart-wrap:hover .header__cart-list {
    display: block;
}
.header__cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--White-color) transparent;
    cursor: pointer;
}
.header__cart-list--no-cart {
    padding: 24px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.header__cart-no-cart-img {
    width: 50%;
    display: none;
}
.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 14px;
}
.header__cart-notice {
    position: absolute;
    padding: 1px 6px;
    top: 2px;
    right: -5px;
    background-color: var(--White-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border:2px solid #1f85cc;
}
.header__cart-icon {
    color: var(--White-color);
    font-size: 2.4rem;
    margin-top: 14px;
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
}
.header__search-input  {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header__search-select {
    border-left: 1px solid rgb(223, 217, 217);
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    
}
.header__search-select:hover .header__search-option{
    display: block;
    
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: #9e9898;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--White-color);
}
.header__search-btn:hover {
    background-color: #2792df;
    cursor: pointer;
}
.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 130px;
    list-style: none;/*bỏ dấu chấm trước thẻ ul/li*/
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    /* overflow: hidden;che những thằng con chọc ra ngoài */
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}
.header__search-option::after {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    top: -10px;
    left: 0;
    position: absolute;
    
}
.header__search-option-item {
    background-color: var(--White-color);
    
    padding: 8px 8px;
    
    
}
.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__search-option-item:hover {
    background-color: #fafafa;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}   
.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__search-option-item-active i {
    display: inline-block;
}
/* search history */
.header__search-input-wrap{
    position: relative;
}
.header__search-input:focus ~ .header__search-history {
    display: block;
}
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--White-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #999;
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading {
    margin: 6px 14px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}
.header__search-history-list-item {
    
    padding: 0 12px;
    height: 38px;
}
.header__search-history-list-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__search-history-list-item:hover {
    background-color: #fafafa;
}
.header__search-history-list-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
/* header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--White-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item {
    flex: 1;
}
.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}
.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
/* App container */

.app_container {
    background-color: #f5f5f5;
}
.app_content {
    padding-top: 36px;
}
.category {
    background-color: var(--White-color);
    border-radius: 2px;

}
.category__heading {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;/* chu thuong thanh chu in*/
}
.category__heading-cion {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    /* margin-left: 9px; */
}
.category-item {
    position: relative;
}
.category-item:first-child::before {
    display: none;
}
.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}
.category-item--active .category-item--link {
    color: var(--primary-color);
}
/* .category-item--active .category-item--link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 7px;
    border: 4px solid;
    transform: translateY(calc(50% - 7px));
    border-color: transparent transparent transparent var(--primary-color);
} */
.category-item--link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    display: block;
    padding: 4px 20px;
    transition: right linear 0.1s;
    right: 0;
}
.category-item--link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar {
    display: none;/* an thanh keo ngang*/
}
.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88cf81;
}
.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--White-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    width: 110px;   
    display: block;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}
/* Home sort + filter  */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter-btn {
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__label {
    font-size: 1.5rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--White-color);
}
.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
    
}
.home-filter__page-btn:first-child {
    border-right: 1px solid;
    color: #eee;
}
.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* product */
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    background-color: var(--White-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}
.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    /* sử lí những tên dài thành dấu ... */
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item__price {
    display: flex;
    
    align-items: baseline;
    flex-wrap: w;
}
.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;/* dấu gạch giữa*/
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like {
    font-size: 1.4rem;
}
i.home-product-item__like-icon-fill {
    color: #d63d30;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold {
    color: var(--star-gold-color);
}
.home-product-item__sold {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}
.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    font-weight: 300;
    color: #919191;
    font-size: 1.2rem;
}
.home-product-item__brand {
    margin-right: auto; 
}
.home-product-item__origin-name {

}
.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px; 
    color: var(--primary-color);
    background-color: currentColor;/* khi thây đổi color thì background sẽ tự động thay đổi theo*/
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite span {
    color: var(--White-color);
}
.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);/* giảm độ sáng của màu*/
}
.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--White-color);
}
.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 57, 0.95);
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255, 216, 57, 0.95);
    border-color: transparent currentColor transparent currentColor;
}
.home-product-item__sale-off-percent {
    color: #ef592d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: -1px;
}
.home-product-item__sale-off-lable {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--White-color);
    position: relative;
    top: -10px;
    font-weight: 600;
}
.home-product__pagination {
    margin: 50px 0 30px 0 ;
    padding-left: 0;
}
/* footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--White-color);
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list {
    padding-left: 0;
    list-style: none;/* bỏ dấu trong trước câu */
}
.footer-item {

}
.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    display: flex;
    align-items: center;
    padding: 2px 0;
}
.footer-item__link:hover {
    color: var(--primary-color);
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}
.footer__download {
    display: flex;
}
.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color)
}
.footer_download-apps {
    margin-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer_download-app-img {
 
    height: 16px;
}
.footer_download-app-link {
    text-decoration: none;
}
.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 24px;
}
.footer__text {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: var(--primary-color);
}
/* mobile nav bars */
.nav-bars-btn {
    width: 28px;
    height: 28px;
    color: var(--White-color);
    display: none;
    font-size: 2rem;
}
.nav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 79;
    display: none;
    animation: fadeIn linear 0.3s;
}
.nav__mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 220px;
    max-width: 100%;
    background-color: #fff;
    z-index: 80;
    transform: translateX(-100%);   
    transition: transform linear 0.3s, opacity linear 0.3s;
    opacity: 0;
}
.nav__mobile-list {
    margin-top: 20px;
    list-style: none;
}

.nav__mobile-item {

}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}
.nav__mobile-close {
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 14px;
    height: 14px;
    font-size: 1.5rem;
}
.nav__input:checked ~ .nav__overlay {
    display: block;
}
.nav__input:checked ~ .nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}
.nav__mobile-item--icon {
    color: var(--primary-color);
    font-size: 2rem;
    margin-left: -20px;
   
}
.nav__mobile-text {
    padding: 0 16px;
}